GOOGLE_GENAI_API_KEY=SOME_KEY
GOOGLE_GENAI_USE_VERTEXAI=True
RAPID_API_KEY=SOME_RAPID_KEY
GOOGLE_MAPS_API_KEY=SOME_GEOCODE_KEY
GEOAPIFY_API_KEY=SOME_GEOAPIFY_KEY
GEMINI_MODEL_VERSION=gemini-2.0-flash-lite